@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #1a4b93;
  --color-background-light: #f6f7f8;
  --color-background-dark: #121820;
  --font-display: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
